body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: monospace;
}
.head{
    width: 100%;
    height: 10vh;
    background: #7B0000;
}
.head h1{
    color: #fff;
    line-height: 10vh;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.links{
    width: 100%;
    height:auto;
    text-align: right;
}
.pull-right{
    margin-right: 15px;
    float: right;
}
.middle{
    width: 60%;
    margin: auto;
    height: 65vh;
}
.lg{
    width: calc(45%);
    float: left;
    height: 65vh;
}
.lg img{
    width: 100%;
    max-height: 100%;
    margin: auto auto;
}
.sm{
    width: calc(10%);
    float: left;
    height: 55vh;
    line-height: 55vh;
}