<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
</head>
<body>
    <div class="head">
        <h1>Facemash</h1>
    </div>
    <div class="links">
        <a href="/" class="pull-right">Play the game</a>
        <a href="/upload" class="pull-right">Upload your image</a>
        <a href="/toplist" class="pull-right">Display the toplist</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
