<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
</head>
<body>
    <div class="head">
        <h1>Facemash</h1>
    </div>

    <div class="links">
        <a href="/" class="pull-right">Toplist[click to change]</a>
    </div>
    <h2>Were we let in for our looks? No. Will we be judged for them? Yes.</h2>
    <h1>Who's hotter? Click to Choose.</h1>
    <div class="middle">
        <div class="lg">
            <a href="/hottest-vote/{{data[0][0]}}/{{data[1][0]}}">
                <img src="/static/images/{{data[0][1]}}">
            </a>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{data[0][2]}} <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{data[0][3]}} <b>chance to win: </b>{{ (1/(1 + 10 ** ((data[1][4]-data[0][4]) / 400)) *100 )}}%<br/>
        </div>
        <div class="sm">
            OR
        </div>
        <div class="lg">
            <a href="/hottest-vote/{{data[1][0]}}/{{data[0][0]}}">
                <img src="/static/images/{{data[1][1]}}">
            </a>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{data[1][2]}} <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{data[1][3]}} <b>chance to win: </b>{{ (1/(1 + 10 ** ((data[0][4]-data[1][4]) / 400)) *100 )}}%<br/>
        </div>
    </div>
</body>
</html>
