{% extends 'base.html' %}

{% block content %}
    <h2>Were we let in for our looks? xNo. Will we be judged for them? Yes.</h2>
    <h1>Who's hotter? Click to Choose.</h1>
    <div class="middle">
        <form action="/upload_image" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <p>
                <small>By uploading your image you hereby sell your soul to me.</small>
            </p>
            <input type="submit">
        </form>
    </div>
{% endblock content %}